.container {  display: grid;
  height: 100vh;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-template-rows: 1fr 0.5fr repeat(7, 1fr) 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    place-items: center;
    grid-template-areas:
      "header1 header2 header3 header4 header5 header6 header7"
      "asideLeft Logo Logo Logo Logo Logo asideRight"
      "asideLeft a1 b1 c1 d1 e1 asideRight"
      "asideLeft a2 b2 c2 d2 e2 asideRight"
      "asideLeft a3 b3 c3 d3 e3 asideRight"
      "asideLeft a4 b4 c4 d4 e4 asideRight"
      "asideLeft a5 b5 c5 d5 e5 asideRight"
      "footer footer footer footer footer footer footer";
  }
  
  .Logo { 
    grid-area: Logo; 
  }

  .creator {
    grid-area: 5 / 4 / 5 /4;
  }

  .messLeft {
    grid-area: 3 / 3 / 3 / 3;

  }

  .messRight {
    grid-area: 3 / 5 / 3 / 7;
  }

  .editlist {
    grid-area: 3 / 3 / 6 / 6;
    grid-auto-columns: auto;
  }

  .header { 
    grid-area: header; 
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center; 
    color:  #fee614;
    background-color: black;
    text-shadow: none;
    z-index: 0;
  }

.header6{
  z-index: 1;
}

  .Logo img { width: auto; 
    height: auto;
  max-height: 100%;  
  }


  .asideLeft {  grid-area: asideLeft;
    z-index: 1;
  }
  
  .asideRight {  grid-area: asideRight;
    z-index: 1;
  }
  
  .footer { 
    grid-area: footer; 
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; 
    color:  #fee614;
    background-color: black;
    text-shadow: none;
    z-index: 0;
  }

  .a1 { grid-area: a1;
  }
  
  .b1 { grid-area: b1; 
  }
  
  .c1 { grid-area: c1; 
  }
  
  .d1 { grid-area: d1; 
  }
  
  .e1 { grid-area: e1; 
  }
  
  .a2 { grid-area: a2; 
  }
  
  .b2 { grid-area: b2; 
  }
  
  .c2 { grid-area: c2; 
  }
  
  .d2 { grid-area: d2; 
  }
  
  .e2 { grid-area: e2; 
  }
  
  .a3 { grid-area: a3; 
  }
  
  .b3 { grid-area: b3; 
  }

  .c3 { grid-area: c3; 
  }
  
  .d3 { grid-area: d3; 
    }
  
  .e3 { grid-area: e3; 
  }
  
  .a4 { grid-area: a4; 
  }
  
  .b4 { grid-area: b4; 
  }
  
  .c4 { grid-area: c4; 
  }
  
  .d4 { grid-area: d4; 
  }
  
  .e4 { grid-area: e4; 
  }
  
  .a5 { grid-area: a5; 
  }
  
  .b5 { grid-area: b5; 
  }
  
  .c5 { grid-area: c5; 
  }
  
  .d5 { grid-area: d5; 
  }
  
  .e5 { grid-area: e5; 
  }