@import "grid.css";

body {

  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: black;
  text-shadow: rgb(255, 196, 0) 1px 1px 1px;
  background: rgb(254,230,20);
  background: linear-gradient(35deg, rgba(254,230,20,1) 0%, rgba(255,179,0,1) 100%);
  margin: 0; 
  padding: 0; 
  font-family: "Impact", Charcoal, sans-serif;
}

.logs {
  align-items: center;
  text-align: center;
  border: 5px solid #000000;
  width: 280px;
  margin-right: 50px;
  margin-left: 50px;
  background: radial-gradient(circle, #fee614 0%, rgb(255, 197, 36) 100%, rgba(0,0,0,1) 100%);
  padding: 10px;

}

h2 {
  font-size: 44px;
  margin-bottom: 10px;
  padding: auto;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: auto;
}

.input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: black;
  color: yellow;
  font-family: "Impact", Charcoal, sans-serif;
  width: 80%;
}

.label {
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
  text-shadow: rgb(255, 196, 0) 1px 1px 1px;
  
}

.button {
  padding: 10px;
  font-size: larger;
background: radial-gradient(circle, #fee614 0%, rgb(255, 187, 0) 100%, rgba(0,0,0,1) 100%);
font-family: "Impact", Charcoal, sans-serif;
display: inline-block;
}

.button:hover{
  background: radial-gradient(circle, #fee614 0%, rgb(255, 145, 0) 100%, rgba(0,0,0,1) 100%);
  color: black;
  text-shadow: rgb(255, 196, 0) 1px 1px 1px;
}

.button:active{
  background: radial-gradient(circle, #fee614 0%, rgb(255, 51, 0) 100%, rgba(0,0,0,1) 100%);
  color: black;
  text-shadow: rgb(255, 196, 0) 1px 1px 1px;
}


@keyframes slideDU {
  0% {
    transform: translateY(-1963px);
  }

   50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-1963px);
  }
}

@keyframes slideUD {
  0% {
    transform: translateY(0px);
  }

   50% {
    transform: translateY(-1963px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animateLeft {
  position: fixed;
  left: 0;
  width: auto;
  height: auto;
  max-height: 100%;
  animation: slideDU 20s linear infinite;
}

.animateRight {
  position: fixed;
  right: 0;
  width: auto;
  height: auto;
  max-height: 100%;
  animation: slideUD 20s linear infinite;
}